[run]
branch = True
source = src
omit =
    src/smoke.py
    **/__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    ^\s*raise NotImplementedError
    ^\s*except ImportError:
    ^\s*pass$
